header
{
  font-size: 40px;
  color: grey;
}

.project
{
  position: absolute;
  left: 10%;
  right: 10%;
}

@media (max-width: 640px)
{
  .project
  {
    position: absolute;
    left: 2%;
    right: 2%;
  }
}